/* CSS declarations go here */
.main-section-container {
  /*background-color: #323232;*/
  padding: 2%;
}

.dark-nav, .dark-nav .nav-item, .dark-nav ul, .dark-nav li, .dark-nav span {
  background-color: #3b55e6 !important;
  color: white !important;
}


li.nav-item{
  border-bottom: 0 !important;
}

.dark-nav>a {
  background: #3b55e6;
  color: white !important;
}

span#login-buttons {
  background: #3b55e6 !important;
}

.shadow-box {
  box-shadow: black 0 0 10px;
  padding: 5% 5%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.shadow-box-neat {
  box-shadow: black 0 0 3px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.header {
  color: white;
  -webkit-box-shadow: rgba(9, 132, 227,1.0) 1px 1px 5px;
  -moz-box-shadow: rgba(9, 132, 227,1.0) 1px 1px 5px;
  box-shadow: rgba(9, 132, 227,1.0) 1px 1px 5px;
  overflow: auto;
  background: linear-gradient(rgba(9, 132, 227,1.0), rgba(255, 118, 117,1.0));
  background-size: cover;
  position: relative;
  padding: 1%;
}

#login-header {
  margin-top: 0;
  padding: 5% 10%;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}

input {
  color: black !important;
}

#todo-list .private.private {
  background-color: rgba(0,123,255,0.81) !important;
  color: white;
  padding: 2% 5% !important;
}

#todo-list li {
  background-color: #666666 !important;
  color: white;
  padding: 2% 5% !important;
}

/* For scroll bar */
body::-webkit-scrollbar {
  width: .8em;
  border-radius: 1000px;
}


body::-webkit-scrollbar-track {
  border: 2px solid #3b55e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #3b55e6;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #3b55e6;
}

body::-webkit-scrollbar-thumb:active {
  background-color: white;
}